@model IEnumerable<WebThueXe.Models.HopDong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
}

<h5>Danh sách hợp đồng</h5>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.maHopDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maKhach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayLapHopDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayThue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChiNhanXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChiTraXe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tienCoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maTinhTrangHopDong)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maHopDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maKhach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayLapHopDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChiNhanXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChiTraXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tienCoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maTinhTrangHopDong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
