@using WebThueXe.Models

@{
    ViewBag.Title = "HopDongThueXe";
    Layout = "~/Views/Shared/_LayoutTimKiem.cshtml";
}

@{
    var prod = (HopDong)ViewData["myHopDong"];
}

@{
    NguoiDung nguoiDung = (NguoiDung)Session["NguoiDung"];
}

<style>

    label.error {
        display: inline-block;
        color: red;
        width: 200px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <br />
            <div class="container">
                <div class="row" style="justify-content:center">
                    <div class="col-md-12">
                        <h4 class="text-center">Thông tin hợp đồng</h4>
                    </div>
                    <div class="col-md-3">
                        Mã hợp đồng:
                    </div>
                    <div class="col-md-3">
                        @prod.maHopDong
                    </div>
                    <div class="col-md-3">
                        Tên xe:
                    </div>
                    <div class="col-md-3">
                        @prod.tenXe
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-3">
                        Ngày nhận:
                    </div>
                    <div class="col-md-3">
                        @prod.ngayThue
                    </div>
                    <div class="col-md-3">
                        Ngày trả:
                    </div>
                    <div class="col-md-3">
                        @prod.ngayTra
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-3">
                        Số ngày:
                    </div>
                    <div class="col-md-3">
                        @prod.soNgayThue
                    </div>
                    <div class="col-md-3">
                        Giá thuê trong 1 ngày:
                    </div>
                    <div class="col-md-3">
                        @prod.donGia
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-3">
                        Tổng tiền thuê xe:
                    </div>
                    <div class="col-md-3">
                        @prod.TongTien
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12 text-center">
                        <h4>Thông tin dịch vụ</h4>
                        <hr>
                        <p class="col-md-12">Không có dịch vụ nào được chọn thêm</p>
                        <p class="col-md-12">Tổng số tiền phải thanh toán</p>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <h4 class="col-md-12 text-center">Hình thức thanh toán</h4>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-12 text-center">
                        <form id="myForm">
                            <input type="radio" name="radioName" value="1" checked /> Thanh toán tại văn phòng công ty <br />
                            <input type="radio" name="radioName" value="2" /> Thanh toán tại bãi xe khi nhận xe <br />
                            <input type="radio" name="radioName" value="3" disabled/> Chuyển khoản ngân hàng <br />
                        </form>
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <h4 style="text-align:center">Thông tin người đặt</h4>
                            <div class="row">
                                <form id="form1" name="form1" style="width:100%">
                                    <div class="form-group row">
                                        <label for="hoten" class="col-sm-4 col-form-label">Họ tên đầy đủ</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="hoTenID" class="form-control" id="hoTenID" placeholder="Họ tên đầy đủ" value="@nguoiDung.ten" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
                                        <div class="col-sm-8">
                                            <input type="email" name="emailID" class="form-control" id="emailID" placeholder="Địa chỉ email" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="sdt" class="col-sm-4 col-form-label">Số điện thoại</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="SDTID" class="form-control" id="SDTID" placeholder="Số diện thoại" value="@nguoiDung.SDT" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="DiaChiNhanXe" class="col-sm-4 col-form-label">Địa chỉ nhận xe</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="diaChiNhanXeID" class="form-control" id="diaChiNhanXeID" placeholder="Địa chỉ nhận xe" value="@nguoiDung.diaChi" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="cmt">Yêu cầu thêm của bạn: </label>
                                        <textarea type="text" class="form-control" id="ghiChuID" placeholder="Example input placeholder"></textarea>
                                    </div>
                                    @Html.ActionLink("Đặt xe", "DatXe", "Xe", new { maXe = prod.maXe, maNguoiDung = nguoiDung.maNguoiDung, hotenNguoiDatXe = "hoTenNguoiDungID", email = "EmailID", SDT = "SDTID", ghiChu = "ghiChuID", ngayThue = prod.ngayThue, ngayTra = prod.ngayTra, soNgayThue = prod.soNgayThue, diaChiNhanXe = "diaChiNhanXeID", maPhuongThucThanhToan = "maPhuongNhanThanhToanID", tongTien = prod.TongTien }, new { id = "DatXeID", @class = "btn btn-lg btn-primary", })

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <blockquote>
                "Cám ơn bạn đã đặt <strong>@prod.tenXe</strong>. Xin vui lòng điền thông tin chi tiết của bạn bên
                trái và chúng tôi sẽ liên hệ với bạn qua điện thoại hoặc email trong vòng 24 đến 48 giờ với một mức
                giá thích hợp và hành trình tốt nhất"
            </blockquote>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>

    var form = $("#form1");
    form.validate({
        rules: {
            hoTenID: {
                required: true
            },
            emailID: {
                required: true,
                email: true
            },
            SDTID: {
                required: true,
                minlength: 10,
                maxlength:10
            },
            diaChiNhanXeID: {
                required: true,
            },
        },
        messages: {
            hoTenID: "Vui lòng nhập họ tên",
            emailID: {
                required: "Vui lòng nhập email",
                email: "Vui lòng nhập Email"
            },

            SDTID: {
                required: "Vui lòng nhập số điện thoại",
                minlength: "Số điện thoại yêu cầu 10 số",
                maxlength: "Số điện thoại yêu cầu 10 số"
            },
            diaChiNhanXeID: {
                required: "Vui lòng nhập địa chỉ"
            },

        }
    });

    $("#DatXeID").click(function (e) {
        //Get attribute for post
        if (!form.valid()) {
            //$('#hoTenID-error').text("Mời nhập họ tên!");
            //$('#hoTenID-error').addClass('text-danger');

            //$('#emailID-error').text("Mời nhập email!");
            //$('#emailID-error').addClass('text-danger');

            //$('#SDTID-error').text("Mời nhập số điện thoại!");
            //$('#SDTID-error').addClass('text-danger');

            //$('#diaChiNhanXeID-error').text("Mời địa chỉ nhận xe!");
            //$('#diaChiNhanXeID-error').addClass('text-danger');



            //$.each(item_attribute_id, function (i, val) {
            //    if (!$('#' + val + '').val()) {
            //        $('#' + val + '-error').text($('#' + val + '-label').text() + " không được để trống!");
            //        $('#' + val + '-error').addClass('text-danger');
            //    }

            //})
            return false;
        }

        document.getElementById("myForm").submit();

        $('#DatXeID').attr('href', function () {
            return this.href.replace('hoTenNguoiDungID', $('#hoTenID').val());
        });
        $('#DatXeID').attr('href', function () {
            return this.href.replace('EmailID', $('#emailID').val());
        });
        $('#DatXeID').attr('href', function () {
            return this.href.replace('SDTID', $('#SDTID').val());
        });
        $('#DatXeID').attr('href', function () {
            return this.href.replace('diaChiNhanXeID', $('#diaChiNhanXeID').val());
        });
        $('#DatXeID').attr('href', function () {
            return this.href.replace('ghiChuID', $('#urcmtID').val());
        });
        $('#DatXeID').attr('href', function () {
            return this.href.replace('maPhuongNhanThanhToanID', $('input[name=radioName]:checked', '#myForm').val());
        });
    });

</script>
