@*@model IEnumerable<WebThueXe.Models.NguoiDung>*@
@using WebThueXe.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<NguoiDung>
@{
    ViewBag.Title = "QuanLyNguoiDung";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QuanLyNguoiDung</h2>

<p>
    @Html.ActionLink("Create New", "ThemNguoiDung")
</p>

<form>
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <input type="text" id="search-text" name="ten" class="form-control" placeholder="Nhập tên khách hàng" aria-label="Nhập tên khách hàng" aria-describedby="button-addon2">
        </div>
        <div class="col-auto my-1">
            @Html.DropDownList("maQuyen", new SelectList(new string[] { }), new { @class = "form-control", @id = "maQuyen", name = "maQuyen" })
        </div>
        <div class="col-auto my-1">
            @Html.ActionLink("Tìm kiếm", "QuanLyNguoiDung", "Admin", new { ten = "tenval", maQuyen = "maQuyenval" }, new { id = "TimKiemId", @class = "btn btn-primary text-center" })
        </div>
    </div>
</form>


<div class="container">

    <table class="table">

        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().maNguoiDung)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().ten)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().SDT)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().diaChi)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().NganHang.tenNganHang)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Quyen.tenQuyen)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.maNguoiDung)</td>
                    <td>@Html.DisplayFor(modelItem => item.ten)</td>
                    <td>@Html.DisplayFor(modelItem => item.SDT)</td>
                    <td>@Html.DisplayFor(modelItem => item.diaChi)</td>
                    <td>@Html.DisplayFor(modelItem => item.NganHang.tenNganHang)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quyen.tenQuyen)</td>
                    <td>
                        @Html.ActionLink("Edit", "SuaThongTinNguoiDung", new { id = item.maNguoiDung }) |
                        @Html.ActionLink("Details", "ChiTietThongTinNguoiDung", new { id = item.maNguoiDung }) |
                        @Html.ActionLink("Delete", "XoaNguoiDung", new { id = item.maNguoiDung })
                    </td>
                </tr>
                <tr>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    $.ajax({
        url: "/Admin/SelectQuyen",
        type: "POST",
        dataType: "json",
        success: function (response) {
            if (response.status == true) {
                var html = '<option value="">--Chọn quyền--</option>"';
                var data = response.data;
                $.each(data, function (i, val) {
                    html += '<option value="' + val.maQuyen + '">' + val.tenQuyen + '</option>"'
                });
                $('#maQuyen').html(html);
            }
        }
    });
    $('#TimKiemId').click(function () {
        $('#TimKiemId').attr('href', function () {
            return this.href.replace('tenval', $('#search-text').val());
        });
        $('#TimKiemId').attr('href', function () {
            return this.href.replace('maQuyenval', $('#maQuyen').val());
        });
    })

</script>

Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuPage">
    @Html.PagedListPager(Model, page => Url.Action("QuanLyNguoiDung", new { page = page }))
</div>