@model WebThueXe.Models.NguoiDung

@{
    ViewBag.Title = "ThemNguoiDung";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ThemNguoiDung</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ten)</th>
                <td>@Html.EditorFor(model => model.ten, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.ten, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.SDT)</th>
                <td>@Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.diaChi)</th>
                <td>@Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.diaChi, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.hoKhau)</th>
                <td>@Html.EditorFor(model => model.hoKhau, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.hoKhau, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.soTKNganHang)</th>
                <td>@Html.EditorFor(model => model.soTKNganHang, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.soTKNganHang, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NganHang.tenNganHang)</th>
                <td>@Html.DropDownListFor(model => model.maNganHang, ViewBag.DsNganHang as SelectList, new { @class = "form-control" })</td>
                @Html.ValidationMessageFor(model => model.maNganHang, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CMND)</th>
                <td>@Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.username)</th>
                <td>@Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.password)</th>
                <td>@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })</td>
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Quyen.tenQuyen)</th>
                <td>@Html.DropDownListFor(model => model.maQuyen, ViewBag.DsQuyen as SelectList, new { @class = "form-control" })</td>
                @Html.ValidationMessageFor(model => model.maQuyen, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
}

<div>
    @Html.ActionLink("Back to List", "QuanLyNguoiDung")
</div>
