
@{
    ViewBag.Title = "_LayoutAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/admin-style.css" rel="stylesheet" />
</head>
<body>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <a class="nav-link" href="@Url.Action("QuanLyXe","KeToan")">Quản lý xe</a>
                        <a class="nav-link" href="@Url.Action("QuanLyNguoiDung","KeToan")">Quản lý khách hàng</a>
                        <a class="nav-link" href="@Url.Action("DanhSachHopDong","KeToan")">Quản lý hợp đồng thuê xe</a>
                        <a class="nav-link" href="@Url.Action("DanhSachDonDatXe","KeToan")">Danh sách đơn đặt xe</a>
                        <a class="nav-link" href="@Url.Action("DanhSachYeuCauHuyHopDong","KeToan")">Danh sách hủy hợp đồng</a>
                        <a class="nav-link" href="@Url.Action("QuanLyLoaiXe","KeToan")">Loại xe</a>
                        <a class="nav-link" href="@Url.Action("QuanLyHieuXe","KeToan")">Hiệu xe</a>


                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content" style="padding:20px;">
            @RenderBody()
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</body>
</html>

