<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","TrangChu")">Thuê xe</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#nav-main"
                        aria-controls="nav-main"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-main">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","TrangChu")">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Xe")">Bảng giá</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thuê xe dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Album ảnh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            @if (Session["ten"] == null)
                            {
                                <a class="nav-link" href="@Url.Action("Index","User")">Đăng nhập/ Đăng ký</a>
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle" href="" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> @Session["ten"]</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown">
                                    <a class="dropdown-item" href="@Url.Action("XemThongTinCaNhan","User",new {id= Session["id"]})">Xem thông tin cá nhân</a>
                                    <a class="dropdown-item" href="@Url.Action("DanhSachDatXe","User")">Lịch sử đặt xe</a>

                                    @switch (Session["maQuyen"])
                                    {

                                        case 1:
                                            <a class="dropdown-item" href="@Url.Action("Index","Admin")">Admin</a>
                                            break;
                                        case 3:
                                            <a class="dropdown-item" href="@Url.Action("Index","GiamDoc")">Giám đốc</a>
                                            break;
                                        case 4:
                                            <a class="dropdown-item" href="@Url.Action("Index","KeToan")">Kế toán</a>
                                            break;

                                    }
                                    <a class="dropdown-item" href="@Url.Action("Logout","User")">Đăng xuất</a>
                                </div>
                            }

                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("script", required: false)
</body>
</html>