@model IEnumerable<WebThueXe.Models.HopDong>

<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
@foreach (var item in Model)
{
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table center">
            <tbody>
                <tr>
                    <th colspan="2" style="text-align:center">HỢP ĐỒNG DỊCH VỤ</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.maHopDong)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.maHopDong)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.ngayLapHopDong)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.ngayLapHopDong)</th>
                </tr>
                <tr>
                    <th colspan="2" style="text-align:center">THÔNG TIN KHÁCH HÀNG</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.hotenNguoiDatXe)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.hotenNguoiDatXe)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.email)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.email)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.SDT)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.SDT)</th>
                </tr>
                <tr>
                    <th colspan="2" style="text-align:center">THÔNG TIN XE</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.tenXe)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.tenXe)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.ngayThue)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.ngayThue)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.ngayTra)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.ngayTra)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.soNgayThue)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.soNgayThue)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.donGia)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.donGia)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.TongTien)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.TongTien)</th>
                </tr>
                <tr>
                    <th colspan="2" style="text-align:center">THÔNG TIN DỊCH VỤ</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.diaChiNhanXe)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.diaChiNhanXe)</th>
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.daThanhToan)</td>
                    @if (item.daThanhToan)
                    {
                        <th scope="row" style="color:blue">Đã thanh toán</th>
                    }
                    else
                    {
                        <th scope="row" style="color:blue">Chưa thanh toán</th>
                    }
                </tr>
                <tr>
                    <td style="text-align:right;">@Html.DisplayNameFor(model => model.ghiChu)</td style="text-align:right;">
                    <th scope="row">@Html.DisplayFor(model => item.ghiChu)</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div>
    <hr />
    @if (item.maPhuongThucThanhToan == 1)
    {
        <h3 style="text-align:center">@Html.DisplayFor(model => item.tenLoaiThanhToan)</h3>
        <p style="text-align:center">Bạn sẽ đến văn phòng của chúng tôi để thanh toán <a href="#" style="text-decoration:none; color:black;font-weight:bold">click để xem địa chỉ</a></p>
    }
    else if (item.maPhuongThucThanhToan == 2)
    {
        <h3 style="text-align:center">@Html.DisplayFor(model => item.tenLoaiThanhToan)</h3>
        <p style="text-align:center">Bạn sẽ đến bãi xe của chúng tôi để thanh toán khi nhận xe <a style="text-decoration:none; color:black;font-weight:bold">click để xem địa chỉ</a></p>

    }
    else
    {
        <h3 style="text-align:center">@Html.DisplayFor(model => item.tenLoaiThanhToan)</h3>
        <div class="col text-center">
            <button class="btn btn-primary">Thanh toán</button>
        </div>
    }
    <hr />
    <p>Cảm ơn quý khách đã tin tưởng tín nhiệm sử dụng dịch vụ của chúng tôi. Quý khách vui lòng kiểm tra kỹ hông tin hóa đơn này và cầm theo hóa đơn này khi sử dụng dịch vụ của chúng tôi. Chúc quý khách có những cuộc hành trình thú vị</p>

</div>

}

