@model IEnumerable<WebThueXe.Models.HopDong>
@using WebThueXe.Models

@{
    ViewBag.Title = "DanhSachYeuCauHuyHopDong";
    Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
}

<h2>DanhSachYeuCauHuyHopDong</h2>

<table class="table table-striped">
    <tr>
        <th>
            #
        </th>
        <th>
            Thông tin khách hàng
        </th>
        <th>
            Trạng thái thanh toán
        </th>
        <th>
            Trạng thái hợp đồng
        </th>
        <th>
            Thông tin hợp đồng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span style="font-weight:bold" data-id="@item.maHopDong">@Html.DisplayFor(modelItem => item.maHopDong)</span><br />
                @Html.DisplayFor(modelItem => item.maXe)
            </td>
            <td>
                <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.hotenNguoiDatXe)</span><br />
                @Html.DisplayFor(modelItem => item.email)<br />
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @if (item.daThanhToan)
                {
                    <p style="font-weight:bold;color:blue">Đã thanh toán</p>
                }
                else
                {
                    <p style="font-weight:bold;color:red">Chưa thanh toán</p>
                }
            </td>
            <td>
                @if (item.maTinhTrangHopDong == 1)
                {
                    <p style="font-weight:bold;color:blue">Đã ký kết</p>
                }
                else if (item.maTinhTrangHopDong == 2)
                {
                    <p style="font-weight:bold;color:red">Chưa ký kết</p>

                }
            </td>
            <td>
                <p>Ngày nhận: @Html.DisplayFor(model => item.ngayThue)</p>
                <p>Ngày trả: @Html.DisplayFor(model => item.ngayTra)</p>
                <p>Số ngày đặt: @Html.DisplayFor(model => item.soNgayThue)</p>
                <p style="font-weight:bold;color:red;">Tổng tiền: @Html.DisplayFor(model => item.TongTien)</p>
            </td>
            <td>
                <a href="" data-toggle="modal" class="modal-Print" data-id="@item.maHopDong">Xem hợp đồng</a><br />
                <a href="" data-toggle="modal" class="modal-Del" data-id="@item.maHopDong">Xóa</a><br />


            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="del-DatXe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa hợp đồng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa hợp đồng?
                <input type="hidden" id="hidDelId" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="Del-DonDat">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Print-DatXe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-url="@Url.Action("ChiTietHopDong","KeToan")">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-body2">
                <input type="hidden" id="hidPrintId" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">In Hợp Đồng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Bill-DatXe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-url="@Url.Action("ChiTietHoaDon","KeToan")">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="hidBillId" value="0" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">In Hóa Đơn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>
    var print_count = 0;
    var bill_count = 0;
    $('.modal-Del').click(function () {
        $('#del-DatXe').modal('show');
        $('#hidDelId').val($(this).data('id'));
        var id = $('#hidDelId').val();
        $('#Del-DonDat').click(function () {
            $.ajax({
                url: "/KeToan/XoaHopDong",
                type: "POST",
                dataType: "json",
                data: { id: id },
                success: function (response) {
                    if (response.status == true) {
                        $('#del-DatXe').modal('hide');
                        location.reload();
                    }
                }
            })
        })

    })
    $('.modal-Duyet').click(function () {
        $('#Duyet-DatXe').modal('show');
        $('#hidDuyetId').val($(this).data('id'));
        var id = $('#hidDuyetId').val();
        $('#DuyetDonDatXe').click(function () {
            $.ajax({
                url: "/KeToan/DuyetHopDong",
                type: "POST",
                dataType: "json",
                data: { id: id },
                success: function (response) {
                    if (response.status == true) {
                        $('#Duyet-DatXe').modal('hide');
                        location.reload();
                    }
                }
            })
        })

    })
    $('.modal-ThanhToan').click(function () {
        $('#ThanhToan-DatXe').modal('show');
        $('#hidThanhToanId').val($(this).data('id'));
        var id = $('#hidThanhToanId').val();
        $('#thanhToanID').click(function () {
            $.ajax({
                url: "/KeToan/XacNhanThanhToan",
                type: "POST",
                dataType: "json",
                data: { id: id },
                success: function (response) {
                    if (response.status == true) {
                        $('#ThanhToan-DatXe').modal('hide');
                        location.reload();
                    }
                }
            })
        })
    })
    $('.modal-Print').click(function () {
        $('#hidPrintId').val($(this).data('id'));
        var id = $('#hidPrintId').val();
        console.log(id);
        if (print_count == 0) {
            var tmp = $('#Print-DatXe').data('url');
            $('#Print-DatXe').data('url', tmp + "/" + id);
            var url = $('#Print-DatXe').data('url');
            console.log(url);
        }
        else {
            var tmp = $('#Print-DatXe').data('url');
            $('#Print-DatXe').data('url', tmp);
            var url = $('#Print-DatXe').data('url');
            console.log(url);
        }
        print_count++;
        $.get(url, function (data) {
            $mymodal = $("#Print-DatXe");
            //update the modal's body with the response received
            $mymodal.find("div.modal-body").html(data);
            // Show the modal
            $mymodal.modal("show");
        })
    })
    $('.modal-Bill').click(function () {
        $('#hidBillId').val($(this).data('id'));
        var id = $('#hidBillId').val();
        console.log(id);
        if (bill_count == 0) {
            var tmp = $('#Bill-DatXe').data('url');
            $('#Bill-DatXe').data('url', tmp + "/" + id);
            var url = $('#Bill-DatXe').data('url');
            console.log(url);
        }
        else {
            var tmp = $('#Bill-DatXe').data('url');
            $('#Bill-DatXe').data('url', tmp);
            var url = $('#Bill-DatXe').data('url');
            console.log(url);
        }
        bill_count++;
        $.get(url, function (data) {
            $mymodal = $("#Bill-DatXe");
            //update the modal's body with the response received
            $mymodal.find("div.modal-body").html(data);
            // Show the modal
            $mymodal.modal("show");
        })
    })
</script>