@*@model IEnumerable<WebThueXe.Models.Xe>*@
@using WebThueXe.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Xe>
@{
    ViewBag.Title = "QuanLyXe";
    Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h5>Tất cả loại xe</h5>
<p>
    @Html.ActionLink("Thêm xe", "ThemXe")
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-12" style="border: 1px solid black" id="@Html.DisplayFor(model=>item.maXe)">
                <br />
                <div class="container">
                    <div class="row">
                        <img class="float-left col-md-4 col-sm-12"
                             src="@Url.Content(item.hinh)"
                             alt="" />
                        <div class="clearfix"></div>
                        <div class="col-md-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>@Html.DisplayFor(model => item.tenXe)</h5>
                                        <hr />
                                        <h6>@Html.DisplayFor(model => item.giaThueXe)</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => item.bienSo)</p>
                                        <p>@Html.DisplayFor(model => item.TinhTrangXe.tenTinhTrangXe)</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Html.DisplayFor(model => item.LoaiXe.tenLoaiXe)</p>
                                        <p>@Html.DisplayFor(model => item.HieuXe.tenHieuXe)</p>
                                    </div>
                                    <div class="col-md-12">
                                        <p>@Html.DisplayFor(model => item.moTaXe)</p>
                                    </div>
                                    <div class="col-md-4">
                                        @Html.ActionLink("Edit", "SuaThongTinXe", new { id = item.maXe })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.ActionLink("Detail", "ChiTietThongTinXe", new { id = item.maXe })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.ActionLink("Delete", "XoaXe", new { id = item.maXe })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

            </div>
            <div class="col-md-12">
                <br />
            </div>

        }
    </div>
</div>

Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<div class="MenuPage">
    @Html.PagedListPager(Model, page => Url.Action("QuanLyXe", new { page = page }))
</div>
