@model WebThueXe.Models.Xe

@{
    ViewBag.Title = "ThemXe";
    Layout = "~/Views/Shared/_LayoutKeToan.cshtml";
}

<h2>ThemXe</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.tenXe)</th>
                    <td>
                        @Html.EditorFor(model => model.tenXe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenXe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.bienSo)</th>
                    <td>
                        @Html.EditorFor(model => model.bienSo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.bienSo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.giaXe)</th>
                    <td>
                        @Html.EditorFor(model => model.giaXe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.giaXe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.moTaXe)</th>
                    <td>
                        @Html.EditorFor(model => model.moTaXe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.moTaXe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TinhTrangXe.tenTinhTrangXe)</th>
                    <td>
                        @Html.DropDownListFor(model => model.maTinhTrangXe, ViewBag.DsTinhTrangXe as SelectList, "-- chọn tình trạng xe --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.maTinhTrangXe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.giaThueXe)</th>
                    <td>
                        @Html.EditorFor(model => model.giaThueXe, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.giaThueXe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LoaiXe.tenLoaiXe)</th>
                    <td>
                        @Html.DropDownListFor(model => model.maLoaiXe, ViewBag.DsLoaiXe as SelectList, "-- chọn loại xe --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.maLoaiXe, "", new { @class = "text-danger" })

                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.HieuXe.tenHieuXe)</th>
                    <td>
                        @Html.DropDownListFor(model => model.maHieuXe, ViewBag.DsHieuXe as SelectList, "-- chọn hiệu xe --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.maHieuXe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.hinh)</th>
                    <td>
                        <img src="@Html.DisplayFor(model => model.hinh)" alt="hinh" style="width:350px;height:200px" id="previewImg" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="file" name="UploadImage" onchange="ChangeImage(this,document.getElementById('previewImg'))" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "QuanLyXe")
</div>
