@model WebThueXe.Models.NguoiDung
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@{
    var returnUrl = (string)ViewData["returnUrl"];
}
<link href="~/Content/Site.css" rel="stylesheet" />
@using (Html.BeginForm("Login", "User", new { @returnUrl = returnUrl }))
{
    @Html.AntiForgeryToken()
    <h2 style="text-align:center">Đăng nhập</h2>
    <div class="form-group">
        <b>Tài khoản</b>
        @Html.TextBoxFor(model => model.username, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập tài khoản" })
        @Html.ValidationMessageFor(model => model.username)

    </div>
    <div class="form-group">
        <b>Mật khẩu</b>
        @Html.TextBoxFor(model => model.password, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập mật khẩu", @type = "password" })
        @Html.ValidationMessageFor(model => model.password)
        @if (ViewBag.ErrorInfo == null)
        {
            <p>@ViewBag.ErrorInfo</p>
        }
    </div>
    <button type="submit" value="Login" class="btn btn-primary btn-block" style="padding: 10px;"><b>Đăng nhập</b></button>
    <hr>
    <div class="form-group">
        <p style="float: left;">Bạn chưa có tài khoản? <a href="@Url.Action("Register", "User")" class="card-link">Đăng ký ngay</a></p>
    </div>
    <br>

}