@model WebThueXe.Models.NguoiDung

@{
    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}



<link href="~/Content/Site.css" rel="stylesheet" />
@using (Html.BeginForm("Register", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <h2 style="text-align:center">Đăng ký</h2>
    <div class="form-group">
        <b>@Html.LabelFor(model => model.ten)</b>
        @Html.TextBoxFor(model => model.ten, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập họ tên" })
        @Html.ValidationMessageFor(model => model.ten, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <b>@Html.LabelFor(model => model.username)</b>
        @Html.TextBoxFor(model => model.username, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập username" })
        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
    </div>
    if (ViewBag.ErrorRegister != null)
    {
        <p>@ViewBag.ErrorRegister</p>
    }
    <div class="form-group">
        <b>@Html.LabelFor(model => model.password)</b>
        @Html.PasswordFor(model => model.password, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập password" })
        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <b>@Html.LabelFor(model => model.ConfirmPass)</b>
        @Html.PasswordFor(model => model.ConfirmPass, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập lại password" })
        @Html.ValidationMessageFor(model => model.ConfirmPass, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <b>@Html.LabelFor(model => model.soTKNganHang)</b>
        @Html.TextBoxFor(model => model.soTKNganHang, new { @class = "form-control", style = "field-validation-error", @placeholder = "Nhập số tài khoản ngân hàng" })
        @Html.ValidationMessageFor(model => model.soTKNganHang, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <b>@Html.LabelFor(model => model.NganHang.tenNganHang)</b>
        @Html.DropDownListFor(model => model.maNganHang, ViewBag.DsNganHang as SelectList, "-- chọn loại ngân hàng --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.maNganHang, "", new { @class = "text-danger" })
    </div>
    if (ViewBag.nganHang != null)
    {
        <p>@ViewBag.nganHang</p>
    }
    <button type="submit" value="Register" class="btn btn-primary btn-block" style="padding: 10px;"><b>Đăng ký</b></button>
    <hr>
    <div class="form-group">
        <p style="float: left;">Đã có tài khoản? <a href="@Url.Action("Login", "User")" class="card-link">Đăng nhập ngay</a></p>
    </div>
    <br>

}