@model IEnumerable<WebThueXe.Models.HopDong>
@using WebThueXe.Models

@{
    ViewBag.Title = "BaoCaoHopDong";
    Layout = "~/Views/Shared/_LayoutGiamDoc.cshtml";
}


<div class="container-fluid">
    <h4 style="text-align:center">Xem báo cáo</h4>
    <div class="d-sm-flex justify-content-between">
        <div class="form-group p-2 flex-fill bd-highlight">
            <label for="staticEmail" class="col-sm-5 col-form-label">Tháng báo cáo:</label>
            <div class="col-sm-5">
                @Html.DropDownList("monthId", new SelectList(new string[] { }), new { @class = "form-control", @id = "monthId", name = "monthId" })
            </div>
        </div>
        <div class="form-group flex-fill bd-highlight">
            <label for="staticEmail" class="col-sm-5 col-form-label">Năm báo cáo:</label>
            <div class="col-sm-5">
                @Html.DropDownList("yearId", new SelectList(new string[] { }), new { @class = "form-control", @id = "yearId", name = "yearId" })
            </div>
        </div>
        <div class="form-group flex-fill bd-highlight">
            <label for="staticEmail" class="col-md-6 col-form-label">Trạng thái thanh toán:</label>
            <div class="col-md-6">
                @Html.DropDownList("daThanhToanId", new SelectList(new string[] { }), new { @class = "form-control", @id = "daThanhToanId", name = "daThanhToanId" })
            </div>
        </div>
    </div>
        
        @*<div class="form-group row flex-fill bd-highlight">
            <label for="staticEmail" class="col-md-3 col-form-label">Tên xe:</label>
            <div class="col-md-6">
                @Html.DropDownList("tenXeId", new SelectList(new string[] { }), new { @class = "form-control", @id = "tenXeId", name = "tenXeId" })
            </div>
        </div>*@
        <div class="form-group" style="text-align:right; margin-right:100px">
            @Html.ActionLink("Xem", "BaoCaoHopDong", "GiamDoc", new { month = "monthId", year = "yearId", daThanhToan = "daThanhToanId", tenXe = "tenXeId" }, new { id = "XemId", @class = "btn btn-primary text-center" })
        </div>
    <h2>BÁO CÁO HỢP ĐỒNG THUÊ XE</h2>
    <table class="table table-striped">
        <tr>
            <th>
                #
            </th>
            <th>
                Thông tin khách hàng
            </th>
            <th>
                Tên xe
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th>
                Ngày nhận và trả xe
            </th>
            <th>
                Tổng thành tiền
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span style="font-weight:bold" data-id="@item.maHopDong">@Html.DisplayFor(modelItem => item.maHopDong)</span>
                </td>
                <td>
                    <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.hotenNguoiDatXe)</span><br />
                    @Html.DisplayFor(modelItem => item.email)<br />
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(model => item.tenXe)
                </td>
                <td>
                    @if (item.daThanhToan)
                    {
                        <p style="font-weight:bold;color:blue">Đã Thanh Toán</p>
                    }
                    else
                    {
                        <p style="font-weight:bold;color:red">Chưa Thanh Toán</p>

                    }
                </td>
                <td>
                    <p>Ngày nhận: @Html.DisplayFor(model => item.ngayThue)</p>
                    <p>Ngày trả: @Html.DisplayFor(model => item.ngayTra)</p>
                </td>
                <td>
                    <p style="font-weight:bold;color:red;">Tổng tiền: @Html.DisplayFor(model => item.TongTien)</p>
                </td>
            </tr>
        }
        <tr>
            <td colspan="5" style="text-align:right">Tổng doanh thu</td>
            <td style="color:red;font-weight:bold">@ViewBag.TongDoanhThu</td>
        </tr>
    </table>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script>

    var html, html1, html2;
    for (var k = 1; k <= 12; k++) {
        html += '<option value="' + k + '">' + k + '</option>"'
    }
    $('#monthId').html(html);

    var d = new Date();
    var n = d.getFullYear();
    for (var j = n - 10; j <= n + 10; j++) {
        html1 += '<option value="' + j + '">' + j + '</option>"'
    }
    $('#yearId').html(html1);

    html2 += '<option value="' + 0 + '"> Đã thanh toán </option>"'
    html2 += '<option value="' + 1 + '"> Chưa thanh toán </option>"'
    $('#daThanhToanId').html(html2);

    $('#XemId').click(function () {
        var daThanhToan;
        if ($('#daThanhToanId').val() == 0) {
            daThanhToan = true;
        } else {
            daThanhToan = false;
        }
        $('#XemId').attr('href', function () {
            return this.href.replace('monthId', $('#monthId').val());
        });
        $('#XemId').attr('href', function () {
            return this.href.replace('yearId', $('#yearId').val());
        });
        $('#XemId').attr('href', function () {
            if ($('#daThanhToanId').val() == 0) {
                return this.href.replace('daThanhToanId', true);
            } else {
                return this.href.replace('daThanhToanId', false);
            }
        });
        //$.ajax({
        //    url: "/GiamDoc/LoadTenXe",
        //    type: "POST",
        //    dataType: "json",
        //    data: {
        //        month: $('#monthId').val(),
        //        year: $('#yearId').val(),
        //        daThanhToan: daThanhToan,
        //    },
        //    success: function (response) {
        //        if (response.status == true) {
        //            var html = '<option value="">--Chọn quyền--</option>"';
        //            var data = response.data;
        //            $.each(data, function (i, val) {
        //                html += '<option value="' + val.maXe + '">' + val.tenXe + '</option>"'
        //            });
        //            $('#tenXeId').html(html);
        //        }
        //    }
        //});
    })

</script>